<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

    
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Education-Plan for Mobile Website Template | Home :: w3layouts</title>
<link href="~/Talha_Final_Project/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="~/Talha_Final_Project/css/examples.css" type="text/css" media="all" />
<script src="~/Talha_Final_Project/js/jquery-1.8.1.min.js"></script>
<script src="~/Talha_Final_Project/js/jquery.carouFredSel-6.0.5-packed.js"></script>
<script type="text/javascript" language="javascript">
    $(function () {

        $("#foo1").carouFredSel();
        $("#foo2").carouFredSel({
            width: 1000,
            items: 8,
            scroll: 4
        });
        $("#foo3").carouFredSel({
            items: 1,
            direction: "up",
            auto: {
                easing: "elastic",
                duration: 1000,
                timeoutDuration: 2000,
                pauseOnHover: true
            }
        }).find(".slide").hover(
            function () { $(this).find("div").slideDown(); },
            function () { $(this).find("div").slideUp(); }
        );
    });
</script>
	<script type="text/javascript" language="javascript">
	    var siteroot = "../";
	</script>
</head>
<body>
<div class="header-bg">
<div class="wrap">
<div class="wrapper">
   <div class="header">
       <div class="logo">
			<img src="~/Talha_Final_Project/images/logo.png" />
	   </div>
	   <div class="menu">
	    <ul id="menu">
          <li class="current">@Html.ActionLink("Home","Index","Home")</li>
              <li>@Html.ActionLink("About","About","Home")</li>
		      <li>@Html.ActionLink("RegisterHere","RegisterHere","Home")</li>
              <li>@Html.ActionLink("Portfolio","Portfolio","Home")</li>
              <li>@Html.ActionLink("Contact","Contact","Home")</li>
        </ul>
		</div>
		<div class="clear"></div>
   </div>
<div class="transparent p1">
   	<div class="wrap">
					<div class="html_carousel">
						<div id="foo3">
							<div class="slide">
								<img src="~/Talha_Final_Project/images/e1.jpg" alt="carousel 1" width="1000" height="450"/>
								<div>
									<h4>Infinity</h4>
									<p>A concept that in many fields refers to a quantity without bound or end.</p>
								</div>
							</div>
							<div class="slide">
								<img src="~/Talha_Final_Project/images/e2.jpg" alt="carousel 2" width="1000" height="450"  />
								<div>
									<h4>Circular journey</h4>
									<p>An excursion in which the final destination is the same as the starting point.</p>
								</div>
							</div>
							<div class="slide">
								<img src="~/Talha_Final_Project/images/e3.jpg" alt="carousel 3" width="1000" height="450" />
								<div>
									<h4>jQuery</h4>
									<p>jQuery is a JavaScript library designed to simplify the client-side scripting.</p>
								</div>
							</div>
							<div class="slide">
								<img src="~/Talha_Final_Project/images/e4.jpg" alt="carousel 4" width="1000" height="450" />
								<div>
									<h4>Carousel</h4>
									<p>A carousel is an amusement ride consisting of a rotating circular platform with seats.</p>
								</div>
							</div>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
					</div>
				<div class="clearfix"></div>

        @RenderBody()
   		
<div class="footer-top">
<div class="wrap">
	<div class="footer">
			<div class="footer-nav">
			   <h5><a href="index.html">Home</a></h5>
					
					<div class="clear"></div>
			</div>
			<div class="footer-nav">
					<h5><a href="about.html">About</a></h5>
			</div>
		   <div class="footer-nav">
					 <h5><a href="index1.html">Register Here</a></h5>
					
			</div>
			<div class="footer-nav">
					<h5><a href="uploads.html">Uploads</a></h5>
					
			</div>
			<div class="footer-nav1">
                	<h5><a href="contact.html">Contact</a></h5>
                    <ul id="navlist">
						<li id="fb"><a href="https://www.facebook.com"></a></li>
  						<li id="tw"><a href="https://twitter.com/"></a></li>
  						<li id="msg"><a href="https://www.skype.com"></a></li>
					</ul>
             </div>
			<div class="clear"></div>
		</div>	
		</div>
</div>
<div class="footer-bottom">
<div class="wrap">
	<div class="footer-text">
		<div class="copy">
			 <p>&copy; 2013 Education-Plan. All Rights Reserved | Design by Em Talha Azeem</p>
        </div>
		<div class="subcribe">
		<form>
	         <input type="text" class="textbox" value="Enter Your text " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your text';}">
	         <input type="submit" value="Search Go!" >
	    </form>
	    </div>
    <div class="clear"></div>
		</div>	
		</div>	
</div>
</body>
</html>
</html>
